<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatshouldifuckingbuild</title>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="big-text">I'm FUCKING good at</div>
    <input type="text" id="keywordInput" placeholder="Enter Keywords" />

    <div class="big-text">CHECK THIS SHIT OUT, <br> I'M GOING TO FUCKING MAKE</div>
    <div id="ideaBox" class="big-text italic-text">generated IDEA here</div>

    <div id="newIdea" class="big-text">THAT DOESN'T MAKE ANY FUCKING SENSE </div>

    <div style="position: fixed; bottom: 0; right: 0; margin-right: 20px; margin-bottom: 10px;">
        Made by <a href="https://github.com/vivek-dodia" target="_blank">Vivek 💙</a>
    </div>
    

    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</body>
</html>
